
<head th:fragment="headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Customer Portal</title>
<link
	href="../css/bootstrap.min.css"
	rel="stylesheet"></link>
<link
	href="../css/jquery.dataTables.min.css"
	rel="stylesheet"></link>
	
<style>
ul li {
  display:inline;
  margin-right: 25px
}
</style>

</head>

<div id="pagefoot" th:fragment="footerFragment">
		<ul id="row-menu">
			<li><span>© 2021 Demo Corp. </span></li>
			<li><a> <span>Careers </span>
			</a></li>
			<li><a> <span>Privacy Policy</span>
			</a></li>
		</ul>
</div>